<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/supplierinformation.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="../images/logo.jpg" alt="">
        </div>
            <div class="banner">
                <img class="logo-icon" src="../images/logo-icon.jpg" alt="">
                <ul class="layui-nav layui-bg-cyan">
                    <li class="layui-nav-item">
                        <a href="javascript:;">供应商管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="home.html">供应商维护</a></dd>
                            <dd><a href="">供应商审核</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">系统设置</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">供应商类别</a></dd>
                            <dd><a href="">发布消息</a></dd>
                            <dd><a href="">发布招商公告</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">个人中心</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本信息</a></dd>
                            <dd><a href="">密码修改</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div>
                <div class="com-crumb">
                    <i class="layui-icon">&#xe68e;</i>
                    <span class="">
                <a href="/">首页</a><span class="fg">/</span><a><cite>导航元素</cite></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="body clearfix">
                <div class="fl">
                    <div class="logo">
                        <img src="../images/logo.jpg">
            </div>
                        <p class="name">北京特佳圣地地板有限公司</p>
                    </div>
                    <div class="fr">
                        <div class="listitem">
                            <p>官方网站</p>
                            <div><textarea></textarea></div>
                        </div>
                        <div class="listitem">
                            <p>供应商信息表</p>
                            <div class="general-wrapper msgtable" onclick="supplierpage(event)">
                                <span class="general">基本信息</span>
                            </div>
                        </div>
                        <div class="listitem">
                            <p>价格库</p>
                            <div class="general-wrapper">
                                <span class="general">价格库查看</span>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="listitem">
                            <p>后评估</p>
                            <div class="general-wrapper">
                                <span class="general general1">评估状况：<br>未评估</span>
                                <span class="general general2"><a href="table1.html" target="blank">评估表查看</a></span>
                                <span class="general general3">评估表录入
                                <span class="slide">
                                    <a href="table1.html" target="blank">供应商后评估表（材料及设备供应） </a>
                                    <a href="table2.html" target="blank">供应商后评估表（工程监理） </a>
                                    <a href="table3.html" target="blank">供应商后评估表（前期顾问） </a>
                                    <a href="table4.html" target="blank">供应商后评估表（设计） </a>
                                    <a href="table5.html" target="blank">供应商后评估表（造价咨询） </a>
                                    <a href="table6.html" target="blank">供应商后评估表（专业分包） </a>
                                    <a href="table7.html" target="blank">供应商后评估表（总承包）</a>
                                </span>
                                </span>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../lib/layui/layui.all.js"></script>
            <script>
            // 跳转到供应商官网信息编辑
            function supplierpage(event) {
                event.stopPropagation();
                // parent.$("#nowpage").attr("src",'pages/supplierpage.html');
                window.location.href = '../pages/supplierpage.html'
            }

            function seeform() {
                parent.$("#nowpage").attr("src", 'pages/seepage.html')
            }
            $('.general3 ').click(function(){
                $(this).find('.slide').stop()
                $(this).find('.slide').slideToggle(200)
            })
            </script>
</body>

</html>