body,html{
    height: 100%;
    min-height: 100%;
}
.body{
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #1b93b6;
}
.wrapper{
    margin: 0 20px;
    background: #fff;
}
.body>.fl{
    width: 100%;
    height: 100%;
    border-right: 1px solid #e4e4e4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.body>.fr{
    /* width: calc(100% - 200px); */
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.logo>img{
    width: 100%;
}
.logo{
    /* border-bottom: 1px solid #e4e4e4; */
    display: none;
}
.name{
    text-align: left;
    /* margin-top: 20px; */
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    background: #e3e3e3;
    padding: 0 20px;
}
.listitem{
    font-size: 16px;
    width: 44%;
    float: left;
    margin: 10px 3%;
}
.listitem>p{
    background-color: #f9f9f9;
    padding: 7px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.listitem>div{
    font-size: 0;
}
.listitem textarea{
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 8px;
    padding-top: 5px;
    border-color: #e4e4e4;
    width: 100%;
    height: 100px;
}
.listitem .msgtable{
    text-align: left;
    color: #222!important;
    height: 100px!important;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
.general-wrapper{
    position: relative;
}
.general{
    display: inline-block;
    width: 84px;
    height: 38px;
    line-height: 38px;
    text-align: left;
    background: #60b4cb;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
    padding-left: 7px;
}
.general1{
    line-height: 1.3;
}
.general2{
    left: 356px;
}
.general3{
    left:130px;
}
.general4{
    left: 242px;

}
.general2 a{
    color: #fff;
}
.pingyou{
    width: 279px;
    z-index: 10;
    background:#ffffff;
    position: absolute;
}
/*修改之后的css*/
.mainsup{
    width: 97%;
    margin: 0 auto;
}
.supeliTop{
    width: 100%;
    border: 2px solid #cd9e50;
    height: 222px;
    background: #FFFFFF;
    overflow: hidden;
    padding-top: 22px;
    margin-top: 20px;
}
.supeliTopL{
    float: left;
    width: 20%;
}
.zhizhao{
    /* float: left; */
    width: 150px;
    margin: 0 auto;
    height: 200px;
    border: 1px solid #e0e0e0;
}
.zhizhao img{
    width: 150px;
    height: 200px;

}
.supeliTopM{
    float: left;
    width: 60%;
}
.companyName{
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.conpanyAddress{
    font-size: 18px;
    line-height: 34px;
    margin-left: 15px;
    color: #3d3d3d;
    margin-top: 10px;
}
.supeliTopR{
    float: left;
    width: 20%;
    margin-top: 65px;
}
.supeliTopR a{
    display: block;
    background: #cd9e50;
    color: #ffffff;
    width: 140px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    margin-top: 20px;
}
.space{
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.supeliBottom{
    width: 97%;
    border: 2px solid #cd9e50;
    min-height: 330px;

    background: #FFFFFF;
    margin-top: 20px;
    overflow: hidden;
    padding: 22px;
    padding-bottom: 40px;
}
.supliTit{
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
}
.v-line{
    background: #cd9e50;
    width: 5px ;
    height: 25px;
    display: inline-block;
    margin: 0 15px;
    float: left;
}
.pinggu{
    height: 50px;
    padding-left: 20px;
}
.tabh{
    background: #ebe3d8;
    color: #cd9e50;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.mar20{
    margin-right: 20px;
}
.sure{
    margin-top: -4px;
}