<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin2.0</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
	<link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
  <style>
  body{
    background-color: #b0bac3;
  }
  </style>
</head>
<body class="">
      <div class="agree_wrap layui-container">
      <div class="agreetit">
        注册协议</div>
      <div style="border: 4px solid rgba(0,0,0,.1);"> 
        
        <div class="agreement">
                    一、服务条款的确认及接受
            1、京东客户端软件（以下称“本软件”）各项电子服务的所有权和运作权归属于“京东”所有，本软件提供的服务将完全按照其发布的服务条款和操作规则严格执行。您确认所有服务条款并完成注册程序时，本协议在您与本软件间成立并发生法律效力，同时您成为本软件正式用户。
            2、根据国家法律法规变化及本软件运营需要，京东有权对本协议条款及相关规则不时地进行修改，修改后的内容一旦以任何形式公布在本软件上即生效，并取代此前相关内容，您应不时关注本软件公告、提示信息及协议、规则等相关内容的变动。您知悉并确认，如您不同意更新后的内容，应立即停止使用本软件；如您继续使用本软件，即视为知悉变动内容并同意接受。
            </br>
            二、服务需知
            </br>
            1、本软件运用自身开发的操作系统通过国际互联网络为用户提供购买商品等服务。使用本软件，您必须：
            （1）自行配备上网的所需设备，包括个人手机、平板电脑、调制解调器、路由器等；
            （2）自行负担个人上网所支付的与此服务有关的电话费用、网络费用等；
            （3）选择与所安装终端设备相匹配的软件版本，包括但不限于iOS、Android、iPad、Windows Phone等多个京东发布的应用版本。
            2、基于本软件所提供的网络服务的重要性，您确认并同意：
            （1）提供的注册资料真实、准确、完整、合法有效，注册资料如有变动的，应及时更新；
            （2）如果您提供的注册资料不合法、不真实、不准确、不详尽的，您需承担因此引起的相应责任及后果，并且京东保留终止您使用本软件各项服务的权利。
            </br>
            三、订单
            </br>
            1、使用本软件下订单，您应具备购买相关商品的权利能力和行为能力，如果您在18周岁以下，您需要在父母或监护人的监护参与下才能使用本软件。在下订单的同时，即视为您满足上述条件，并对您在订单中提供的所有信息的真实性负责。
            </br>

            2、在您下订单时，请您仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息。收货人与您本人不一致的，收货人的行为和意思表示视为您的行为和意思表示，您应对收货人的行为及意思表示的法律后果承担连带责任。
            </br>

            3、您理解并同意：本软件上销售商展示的商品和价格等信息仅仅是要约邀请，您下单时须填写您希望购买的商品数量、价款及支付方式、收货人、联系方式、收货地址（合同履行地点）、合同履行方式等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向销售商发出的合同要约；销售商收到您的订单信息后，只有在销售商将您在订单中订购的商品从仓库实际直接向您发出时（以商品出库为标志），方视为您与销售商之间就实际直接向您发出的商品建立了合同关系；如果您在一份订单里订购了多种商品并且销售商只给您发出了部分商品时，您与销售商之间仅就实际直接向您发出的商品建立了合同关系；只有在销售商实际直接向您发出了订单中订购的其他商品时，您和销售商之间就订单中其他已实际直接向您发出的商品才成立合同关系。对于电子书、数字音乐、在线手机充值等数字化商品，您下单并支付货款后合同即成立。
            </br>

            4、尽管销售商做出最大的努力，但由于市场变化及各种以合理商业努力难以控制因素的影响，本软件无法避免您提交的订单信息中的商品出现缺货情况；如您下单所购买的商品发生缺货，您有权取消订单，销售商亦有权自行取消订单，若您已经付款，则为您办理退款。
            </br>

            四、配送
            </br>

            1、您在本软件购买的商品将按照本软件上您所指定的送货地址进行配送。订单信息中列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。您应当清楚准确地填写您的送货地址、联系人及联系方式等配送信息，您知悉并确认，您所购买的商品应仅由您填写的联系人接受身份查验后接收商品，因您变更联系人或相关配送信息而造成的损失由您自行承担。
            </br>

            2、因如下情况造成订单延迟或无法配送等，本软件将无法承担迟延配送的责任：
            （1）客户提供错误信息和不详细的地址；
            （2）货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果。
            （3）不可抗力，例如：自然灾害、交通戒严、突发战争等。
            </br>

            五、用户个人信息保护及授权
            </br>

            1、您知悉并同意，为方便您使用本软件相关服务，本软件将存储您在使用时的必要信息，包括但不限于您的真实姓名、性别、生日、配送地址、联系方式、通讯录、相册、日历、定位信息等。除法律法规规定的情形外，未经您的许可京东不会向第三方公开、透露您的个人信息。京东对相关信息采取专业加密存储与传输方式，利用合理措施保障用户个人信息的安全。
            </br>

            2、您知悉并确认，您在注册帐号或使用本软件的过程中，需要提供真实的身份信息，京东将根据国家法律法规相关要求，进行基于移动电话号码的真实身份信息认证。若您提供的信息不真实、不完整，则无法使用本软件或在使用过程中受到限制，同时，由此产生的不利后果，由您自行承担。
            </br>

            3、您在使用本软件某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为“单独协议”），您在使用该项服务前请阅读并同意相关的单独协议；您使用前述特定服务，即视为您已阅读并同意接受相关单独协议。
            4、您充分理解并同意：
            （1）接收通过邮件、短信、电话等形式，向在本软件注册、购物的用户、收货人发送的订单信息、促销活动等内容；
            （2）为配合行政监管机关、司法机关执行工作，在法律规定范围内京东有权向上述行政、司法机关提供您在使用本软件时所储存的相关信息，包括但不限于您的注册信息等，或使用相关信息进行证据保全，包括但不限于公证、见证等；
            （3）京东依法保障您在安装或使用过程中的知情权和选择权，在您使用本软件服务过程中，涉及您设备自带功能的服务会提前征得您同意，您一经确认，京东有权开启包括但不限于收集地理位置、读取通讯录、使用摄像头、启用录音等提供服务必要的辅助功能。
            （4）京东有权根据实际情况，在法律规定范围内自行决定单个用户在本软件及服务中数据的最长储存期限以及用户日志的储存期限，并在服务器上为其分配数据最大存储空间等。
            六、用户行为规范
            1、本协议依据国家相关法律法规规章制定，您同意严格遵守以下义务：
            （1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；
            （2）从中国大陆向境外传输资料信息时必须符合中国有关法规；
            （3）不得利用本软件从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；
            （4）不得干扰本软件的正常运转，不得侵入本软件及国家计算机信息系统；
            （5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；
            （6） 不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；
            （7）不得教唆他人从事本条所禁止的行为；
            （8）不得利用在本软件注册的账户进行牟利性经营活动；
            （9）不得发布任何侵犯他人隐私、个人信息、著作权、商标权等知识产权或合法权利的内容；
            2、您须对自己在网上的言论和行为承担法律责任，您若在本软件上散布和传播反动、色情或其它违反国家法律的信息，本软件的系统记录有可能作为您违反法律的证据。
            七、软件使用规范
            1、关于软件的获取与更新：
            （1）您可以直接从京东的网站上获取本软件，也可以从得到京东授权的第三方获取，如果您从未经京东授权的第三方获取本软件或与本软件名称相同的安装程序，京东无法保证该软件能够正常使用，并对因此给您造成的损失不予负责；
            （2）为了改善用户体验、完善服务内容，京东将不断努力开发新的服务，并为您不时提供软件更新，本软件新版本发布后，旧版本的软件可能无法使用，京东不保证旧版本软件继续可用及相应的客户服务，请您随时核对并下载最新版本。

        </div>
        <div class="tc" style="padding-top:30px;background:#fff;padding-bottom:20px;">
            <button class="layui-btn layui-btn-normal" style="background:rgb(227,228,230);color:#666" id="close">取消</button>
        <button class="layui-btn layui-btn-warm" style="background: #0099b7" id="agree">同意并继续</button>
        </div>
    </div>
</div>

    <script>
        $(function  () {
           
            $('#agree').on('click',function(){
                window.location.href='register.html';
            });
            $('#close').on('click',function(){
                window.close();
            })
        })

        
    </script>

    
    <!-- 底部结束 -->
    <script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>